@layer base {
  body {
    height: 100dvh;
    width: 100vw;
    position: relative;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow: hidden;
  }

  main {
    height: 100dvh;
    width: 100vw;
    padding-top: 66px;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  button {
    border-color: var(--accent-color) !important;
    --tw-shadow-color: color-mix(
      in srgb,
      var(--accent-color) 40%,
      transparent
    ) !important;

    &.bg-red-500 {
      background-color: var(--accent-color) !important;
    }

    &:focus {
      box-shadow: none !important;
    }
  }
}
